.card {
  padding-bottom: var(--spacing-900);

  @media (min-width: 600px) {
    padding-top: var(--spacing-600);
    padding-bottom: var(--spacing-700);
  }

  @media (min-width: 1280px) {
    padding-top: var(--spacing-1200);
    padding-bottom: var(--spacing-1600);
    padding-left: 44.5px;
    padding-right: 44.5px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: var(--spacing-300);
    align-items: center;

    @media (min-width: 600px) {
      gap: var(--spacing-600);
    }

    @media (min-width: 1280px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-1600);
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--color-grey-500);
    margin-bottom: var(--spacing-200);

    @media (min-width: 600px) {
      font-size: 13px;
      margin-bottom: var(--spacing-300);
    }
  }

  &__title {
    margin-bottom: var(--spacing-200);

    @media (min-width: 600px) {
      margin-bottom: var(--spacing-400);
    }
  }

  &__text {
    color: var(--color-grey-500);
    margin-bottom: var(--spacing-400);
  }

  &__price {
    display: flex;
    justify-content: space-between;

    @media (min-width: 600px) {
      flex-direction: column;
    }

    &-new {
      display: flex;
      align-items: flex-start;
      gap: var(--spacing-200);
    }

    &-sale {
      display: inline-block;
      font-weight: 700;
      line-height: 1.6;
      color: var(--color-white);
      padding: 0 9.5px;
      border-radius: 6px;
      background-color: var(--color-grey-950);
    }

    &-old {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.6;
      text-decoration: line-through;
      color: var(--color-grey-500);

      @media (min-width: 600px) {
        margin-top: var(--spacing-100);
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    margin-top: var(--spacing-400);
    
    @media (min-width: 600px) {
      gap: var(--spacing-100);
      margin-top: var(--spacing-300);
      flex-direction: row;
      align-items: center;
    }
    
    @media (min-width: 1280px) {
      margin-top: var(--spacing-400);
      gap: var(--spacing-200);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
    padding: 0 15px;
    border-radius: 10px;
    width: 100%;
    height: 56px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--color-grey-950);
    box-shadow: 0 20px 50px -20px rgba(255, 126, 27, 0.25);
    background: var(--color-orange-500);
    transition: all 0.3s ease-in-out;

    &:hover {
      background: var(--color-orange-300);
    }
  }
}
