.header {
  width: 100%;
  -webkit-tap-highlight-color: transparent;

  &__logo {
    width: 137px;
    height: 20px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--spacing-200);
    padding: 19px 0 24px 0;
  
    @media (min-width: 600px) {
      padding: 28px 0 32px 0;
      border-bottom: 1px solid var(--color-grey-100);
    }

    @media (min-width: 1280px) {
      gap: var(--spacing-700);
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: var(--spacing-300);
    margin-left: auto;

    @media (min-width: 600px) {
      gap: var(--spacing-600);
    }
  }

  &__avatar {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    overflow: hidden;

    @media (min-width: 600px) {
      height: 50px;
      width: 50px;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__menu {
    display: block;
    height: 16px;

    @media (min-width: 1280px) {
      display: none;
    }
  }
}
