.header {
  width: 100%;

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--spacing-700);
    padding: 28px 0 32px 0;
    border-bottom: 1px solid var(--color-grey-100);
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: var(--spacing-600);
    margin-left: auto;

    &-btn {

      &:hover {
        svg {
          fill: var(--color-grey-950)
        }
      }

      svg {
        fill: var(--color-grey-500);
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  &__avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
