.gallery {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100%;


  &__slider {

    &-main {

      width: 100%;
      overflow: hidden;
      border-radius: 15px;
      // width: 100%;
      // margin-left: -24px;
      // margin-right: -24px;

      // @media (min-width: 600px) {
      //   margin-left: 0;
      //   margin-right: 0;
      // }

      &-image {
        &.responsive-media {
          &::before {
            padding-top: 80%;

            @media (min-width: 600px) {
              padding-top: 47.69%;
            }

            @media (min-width: 1280px) {
              padding-top: 100%;
            }
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {

        &:after {
          content: none;
        }
      }
    }

    &-thumbs {
      margin-top: var(--spacing-400);
      display: none;
      width: 100%;

      @media (min-width: 1280px) {
        display: block;
      }

      &-item {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid transparent;
        transition: all 0.3s ease-in-out;

        .swiper-slide-thumb-active & {
          border: 2px solid var(--color-orange-500);

          &:after {
            background-color: rgba(255, 255, 255, 0.75);
          }
        }

        &:hover {
          &:after {
            background: rgba(255, 255, 255, 0.5);
          }
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background-color: transparent;
          transition: all 0.3s ease-in-out;
        }

        &.responsive-media {
          &::before {
            padding-top: 100%;
          }
        }
      }
    }
  }

  &__image {
    // position: relative;
    // overflow: hidden;

    // @media (min-width: 600px) {
    //   border-radius: 15px;
    // }

    // &:before {
    //   display: block;
    //   content: "";
    //   padding-top: 80%;
      
    //   @media (min-width: 600px) {
    //     padding-top: 47.69%;
    //   }

    //   @media (min-width: 1280px) {
    //     padding-top: 99.10%;
    //   }
    // }

    
  }



  &__navigation {
    position: absolute;
    left: 16px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;

    @media (min-width: 600px) {
      left: 12.5px;
      right: 12.5px;
    }

    @media (min-width: 1280px) {
      display: none;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: var(--color-white);
    }
  }
}

.swiper {
  // width: 100%;
  // max-width: 400px;
}
